html, body {
    background: linear-gradient(-45deg, #eef1fa, #e1ecfb, #ffffff, #e8eef4);
	animation: gradient 15s ease infinite;
	height: fit-content;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.center-container {
    align-items: center;
    justify-content: center;
    color:rgb(175, 178, 192)
}

.flex {
    display:flex;
}

@media only screen and (max-width: 600px) {
    
}

.section {
    max-width: 760px;
    margin: 0 auto;
}

img {
    max-width: 100%;
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
}

.responsive {
    width: 100%;
    height: auto;
  }

.full-size-image {
    padding: 15em 0;
    background-size: cover;
}

p {
    margin: 1.5rem 0;
    font-size: 18px;
    line-height: 1.7;
    font-family: adelle-sans, sans-serif;
    text-align:left
}

h1 {
    font-size: 60px;
    font-family: gambado-sans, sans-serif;
    line-height: 1.1;
    margin: 0 auto;
    font-weight: 300;
    margin-top: 100px;
    text-align: center
}

h2 {
    font-size: 30px;
    font-family: adelle-sans, sans-serif;
    line-height: 1.1;
    color:#aab4c3;
    margin: 0 auto;
    font-weight: 300;
    margin-top: 100px;
    text-align: center
}

.navbar-item {
    font-size: 20px;
    font-family: gambado-sans, sans-serif;
    font-weight: 800;
    font-style: normal;
    color: #9cadc0;
    background-color: #ffffff;
    justify-items:center;
  }


